.card {
  /* position: relative; */
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  width: 709px;
  height: 220px;
  top: 368px;
  left: 605px;
  border: 1px solid rgb(36, 130, 207);
  border-radius: 16px;
  background: linear-gradient(
    133.66deg,
    rgba(47, 72, 111, 0.62) 5.78%,
    rgba(11, 27, 52, 0.62) 96.58%
  );
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin: 120px auto; /* auto+*/
}
.temperatureAndCloudsContainer{
  position: relative;
}
.buttonContainer{
  /* position: absolute;*/
  margin-left: 152px;
  margin-top: 44px;
}

.clouds {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  width: 290px;
  height: 74px;
  position: absolute;
  top: 28px;
  left: 293px;
}

.temperature {
  position: absolute;
  top: 27px;
  left: 36px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 57px;
  line-height: 68.98px;
  color: rgba(255, 255, 255, 1);
}
.city{
  position: absolute;
  top: 102px;
  left: 41px;
  font-size: 20px;
  color: white;
  font-weight: 500;
}

img {
  object-fit: cover;
}

.save {
  width: 155px;
  height: 48px;
  top: 512px;
  left: 757px;
  border-radius: 50px;
  border: 1px solid rgba(255, 255, 255, 1);
  padding: 12px 40px 12px 40px;
  gap: 10px;
  margin-top: 100px; /*?????????*/
  background: transparent;
  cursor: pointer;
  box-sizing: border-box;
  color: rgba(2555, 255, 255, 1);
  size: 20px;
  font-family: "Inter", sans-serif;
  line-height: 24.2px;
  font-weight: 400;
}

.delete {
  width: 155px;
  height: 48px;
  top: 512px;
  left: 1007px;
  border-radius: 50px;
  border: 1px solid rgba(255, 255, 255, 1);
  padding: 12px 40px 12px 40px;
  gap: 10px;
  background: transparent;
  cursor: pointer;
  box-sizing: border-box;
  margin-left: 95px;
  color: rgba(2555, 255, 255, 1);
  size: 20px;
  font-family: "Inter", sans-serif;
  line-height: 24.2px;
  font-weight: 400;
}