.header {
    width: 100%;
    max-width: 1920px;
    height: 80px;
    padding: 10px;
    gap: 10px;
    border-bottom: 1px solid rgba(210, 210, 210, 1);
    background: linear-gradient(0deg, rgba(18, 45, 77, 0.5), rgba(255, 255, 255, 0.1));
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.naviWeatherApp{
width: 155px;
height: 29px;
top: 25.5px;
left: 85px;
font-family: 'Inter', sans-serif;
font-size: 24px;
font-weight: 700;
line-height: 29.05px;
text-align: left;
color: rgba(255, 255, 255, 1);

}

.naviHome{
    width: 56px;
    height: 24px;
    top: 28px;
    left: 1624px;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24.2px;
    color: rgba(255, 255, 255, 1);
}

.naviWeathers{
    width: 95px;
    height: 24px;
    top: 28px;
    left: 1745px;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 24.2px;
    color: rgba(255, 255, 255, 1);
    

}

.naviHeader{
   display: flex;
    gap: 65px;
}

.header a {
    text-decoration: none;
    
}

.headerUnauthorizedText{
    color: white;
    text-align: center;
    font-weight: 500;
    margin: auto;
}


